p {
  color: green;
  font-family: Helvetica;
}

h1 {
  border: 2.5px solid black;
  font-size: 36px;
}

header {
  text-align: center;
  margin-top: 5px;
}

body {
  background-color: lightblue;
  font-family: 'Oswald', sans-serif;
}

footer {
  margin-top: 50px;
  text-align: center;
}

ol {

}

